p{
    font-size: 11px;
    color: #57595a;
    font-family : "ヒラギノ明朝 Pro W3","HiraKakuProN-W6", "ヒラギノ角ゴ ProN W6",  Meiryo, メイリオ, sans-serif;
}

.body1{
    width:700px;
    margin:100px 100px 100px 300px;
}

.tweet{
    border-radius: 6px ;
    border: 1px solid #080808;
    padding:20px 30px;
}
.icon{
    position: relative;
    width:30px;
    height:30px;
    left:2px;
    border-radius: 50%;
    
    

}
.iconbox{
    float:left;
    
}
.tweetText{
    position: relative;
    left:20px;

    
}



.redtext {
    color: rgb(0, 0, 0);
    font-size: 160%;
    padding: 2px;
    border: 2px solid #080808;
}

.box{
    float: left;
}

.delay{
    padding:300px 100px;
    left: 60%;
    position: fixed;
}

.delay>p{
    font-size: 140%;
}

h4{
    font-size: 60%;
}

h3{
    font-size: 70%;
    padding-bottom: 30px;
}

a {
    color: black;
    text-decoration: none;
    margin-bottom:40px;
  }

